body {
  background: #E5E5E5;
}
.nav-link {
  color: white !important;
  padding-right: 30px !important;
  text-align: right;
}
.top-player {
  background-color: #FFFFFF;
  padding: 20px 20px;
  border-radius: 5px;
}
.top-player img {
  width: 56px;
}
.top-player h3 , .lates-course h3 {
  color:#562EFF ;
}
.top-player p {
  padding: 15px 0 0 20px;
}
.line .box {
  border: 1px solid #d6cdcd;
  margin: auto;
}
.top-blog img {
  width: 40%;
}
.lates-course {
  background: #FFFFFF;
  padding: 20px 20px;
}
.lates-course .hour {
  background-color: #FFE4E8;
  margin-left: 60px;
  padding: 5px 15px;
  border-radius: 15px;
 color: #FF4A60;
}